                
.view {
    background: url("https://farm7.staticflickr.com/6229/7029408609_f894517c98_k.jpg")no-repeat center center;
    background-size: cover;
}

.card-body {
	background-color: rgba(173, 188, 214, 0.6);
}

#prof {
	border-radius: 50px;
}
    
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #adbcd6;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #adbcd6;
    }
}


   