                
.view {
    background: url("https://farm7.staticflickr.com/6229/7029408609_f894517c98_k.jpg")no-repeat center center;
    background-size: cover;
}
    
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
   